.main{
    display:flex;
    flex-direction:column;
    height:100vh;
}
.main_body{
    display:flex;
    flex-direction:row;
    background-color: rgb(18,18,18);    ;
    background: linear-gradient(0deg, rgba(18,18,18,1) 58%, rgba(127,204,114,1) 100%);
}
